.portfolioMainDiv .CenterDiv .threeInOne{
    display: flex;
    
}

.portfolioMainDiv .CenterDiv {
    padding-left: 150px;
}


.portfolioMainDiv {
    margin-top: 150px;
}
.portfolioMainDiv h6{
    font-size: small;
    font-weight: bolder;
    color:rgb(255, 0, 0);
}
.portfolioMainDiv h3{
    font-size: x-large;
    font-weight: bolder;
    color:rgb(249, 5, 5);
}