.mainDivProject{
    background-color:rgb(19, 104, 223);
    width: 400px;
    height: 440px;
    border-radius: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.mainDivProject .divImage{
    width: 95%;
    height: 50%;
    margin-left: 13px;
    border-radius: 100px;
    overflow: hidden;
}
.mainDivProject p{
    font-weight: bolder;
    font-size: large;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
}

.mainDivProject  .btnDiv{
    margin-left: 30px;
  
}
.mainDivProject  .btnDiv #btnGit{
 color:rgb(70,151,223);
    border:hsl(208,71%,57%) 1.5px solid ;
    width: 92px;
    height: 55px;
    background-color: rgb(3, 16, 255);
    border-radius: 150px;
    font-size: large;
    margin-right: 20px;
}
.mainDivProject  .btnDiv #btnDemo{
    color:rgba(0, 0, 0, 0.5);
    border:lightblue 2px solid ;
    width: 120px;
    height: 55px;
    background-color: rgb(249, 3, 3);
    border-radius: 150px;
    font-size: large;
    margin-right: 30px;
}
.mainDivProject  .btnDiv #btnDemo:hover, .mainDivProject  .btnDiv #btnGit:hover{
    background-color: rgb(254, 252, 252);
    border:0px;
    color: rgba(0, 0, 0,0.6)
}