.aboutDivStart{
margin-top: 150px;
display: grid;


}
.aboutDivStart center{
    font-weight: bolder;
    color: rgb(249, 7, 7);
    margin-bottom: 20px;
    margin-top: -280px;
  
}
.one{
    height: 180px;
    background-color: rgb(0, 30, 255);
    width: 220px;
    margin-left:30px;
    margin-bottom:30px;
}

.one:hover{
    background-color: transparent;
    border: rgb(94, 93, 93) 1.5px solid ;
}


.one h3{
  padding-top:1% ;
  padding-left:20px ;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.one h4 , .one h5{
    font-size: small;
    font-weight: bolder;
    color:rgb(252, 249, 249);
    padding-left: 35px;
    text-align: center;
}

.mainDivAbout,.up{
    width: 100%;
    display: flex;
}
.up{
    display: flex;
}
.rightSide{
    margin-left: 100px;
    width: 40%;
}
.leftSide{
    height: 600px;
    width: 45%;
}
.plainText , h4{
   text-align: justify;
   color: rgb(149, 146, 146);
   margin:10px;
   
}
.leftSide .leftMainDiv{
    height: 376px;
    background-color: rgb(252, 251, 251);
    width: 400px;
    margin-left: 185px;
    border-radius: 30px;

    /* background-position: right top, left bottom; */
}
.leftSide .leftMainDiv .imageDiv{
    height: 100%;
    width: 100%;
    /* background-color: rgb(180, 116, 116); */
    border-radius: 40px 40px 0 0;
    transition-property: transform;
    transition-duration: 0.3s;
   transform : rotate(10deg);
   overflow: hidden;
   display: grid;
   place-items: center;
}

.leftSide .leftMainDiv:hover  .imageDiv{
    transform : rotate(0deg)
}

.aboutDivStart #btnTalk{
    margin-left: 130px;
    margin-bottom: 120px;
    margin-top: -1200px;
    color:rgb(8, 8, 8);
    width: 110px;
    height: 50px;
    background-color: rgb(62, 3, 255);
    border-radius: 9px;
    font-size: large;
    transition-property: background-color;
    transition-duration:0.5s ;

}

.aboutDivStart #btnTalk:hover{
    background-color: rgb(250, 4, 4);
}
@media screen and(max-width:1024px) {
   .one{
    grid-template-columns: 1fr;
    gap:0;
   }
   .mainDivAbout{
    width: 50%;
    margin: 2rem auto 4rem;
   }
   .plainText{
    margin: 1rem 0 1.5rem;

   }
    }
    @media screen and(max-width:600px) {
        header{
        height:100vh
        }
        .header__social, .scroll__down{
        display: none;
        }
    }        
