.experienceMainDiv p{
    font-weight: bolder;
    color: rgb(253, 3, 3);
}
.experienceMainDiv div {
padding: 20px;
color: rgb(255, 255, 255);
width: 270px;
height: 140px;
background-color:rgb(160, 156, 156);
text-transform: uppercase;
border-radius: 50px;
font-size: large;
font-weight: bolder;
margin:auto
}

.experienceMainDiv  h3{
    color: rgb(164, 77, 77);
  
}

.experienceMainDiv #list:hover{
background-color: rgb(166, 109, 109);
color: rgb(0, 0, 0);
}